GOOGLE_ADS_DRY_RUN=true
GOOGLE_ADS_API_VERSION=v20
GOOGLE_ADS_CUSTOMER_ID=1234567890
GOOGLE_ADS_LOGIN_CUSTOMER_ID=0987654321
GOOGLE_ADS_DEVELOPER_TOKEN=replace_me
GOOGLE_ADS_CLIENT_ID=replace_me
GOOGLE_ADS_CLIENT_SECRET=replace_me
GOOGLE_ADS_REFRESH_TOKEN=replace_me
