<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>ca.somemarketing.smos.contextual-sweep</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/env</string>
        <string>node</string>
        <string>__SMOS_ROOT__/tools/memory/contextual-sweep.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__SMOS_ROOT__</string>

    <key>StartInterval</key>
    <integer>120</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>__SMOS_ROOT__/_dev/state/contextual-hints/_sweeper.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>__SMOS_ROOT__/_dev/state/contextual-hints/_sweeper.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>__HOME__</string>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
